# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Databases
db.sqlite3

# Static files and build folders
staticfiles_build/
staticfiles/

# Vercel
.vercel
